td {
	padding: 10px 5px;
}
td p {
	margin: 5px 0px;
}


.dial .title {
	text-align: center;
	color: grey;
}
.dial th {
	color: grey;
	font-weight: normal;
}
/*
Each bar of a table has the following components:
	- Label: title of the bar, on its left
	- Bar: the visual representation of the bar, sized accordingly
	- Data: textual representation of the bar's value
*/

.chart {
	display: block;
	float: left;
	padding: 1em;
	margin-top: 1em;
}
.chart .bar_container {
	height:4em;
	padding-top: 1em;
	padding-bottom: 1em;
	float:clear;
	/* Stolen from Materialize valign-wrapper. I 
		didn't want to have to add a ton of classes
		during the d3 chart generation */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.chart .bar_container .bar {
	background-color: #45AACC;
	float:left;
}
.chart .bar_container .bar_data {
	font: 24px;
	color: #45AACC;
	text-align: left;
	float:left;
	padding-left: .5em;
	/* Stolen from materialize valign. I didn't want
		to have to add a ton of classes during the 
		d3 chart generation */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.chart .bar_container .bar_label {
	font:24px;
	color: gray;
	float:left;
	/* Stolen from materialize valign. I didn't want
		to have to add a ton of classes during the 
		d3 chart generation */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.pointer {
	display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


#modal-chooser-options button {
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 2%;
	margin-top: 2%;
	width: 80%;
}

#modal-graph-data-line-graph .axis {
	fill: none;
	stroke: #90A4AE;
	stroke-width:;
	shape-rendering: crispEdges;
}
#modal-graph-data-line-graph text {
	fill: #90A4AE;
	stroke: none;
}

#modal-graph-data-number-line .axis path,
#modal-graph-data-number-line .axis line {
    fill: none;
    stroke: #90a4ae;
    stroke-width: 5px;
    shape-rendering: crispEdges;
}

#modal-graph-data-number-line .axis text {
    font-size: 16px;
}
#modal-graph-data-number-line circle {
	fill: steelblue;
	r: 10px;
}

.graph-color-0 {
	stroke: #0E3D59;
}

.graph-color-1 {
	stroke:#88A61B;
}

.graph-color-2 {
	stroke:#F29F05;
}

.graph-color-3 {
	stroke:#F25C05;
}

.graph-color-4 {
	stroke:#D92525;
}

.graph-color-5 {
	stroke:#665446;
}

.graph-color-6 {
	stroke:#809994;
}

.graph-color-7 {
	stroke:#AECCB6;
}

.graph-color-8 {
	stroke:#DEF2C4;
}

.graph-color-9 {
	stroke:#E5683F;
}

