/* Key-value table cells for displaying objects */
.key-cell {
	
}
.value-cell {
	width: 60%;
}
.value-cell a.btn-flat {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.25em;
	text-transform: none;
}

/* Array detail views */
.array-cell-header {

}
.array-cell-detail {
	text-align: center;
}
.array-cell-detail a {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
}